services:
  frontend:
    build: ./frontend
    develop:
      watch:
        - path: ./frontend
          action: sync
        - path: package.json
          action: rebuild
    ports: ["5173:5173"]
    env_file:
      - ./frontend/.env
    # environment:
    #   VITE_API_URL: http://backend:8000

  backend:
    build: ./backend
    develop:
      watch:
        - path: ./backend/src
          action: sync
        - path: package.json
          action: rebuild
    ports: ["8000:8000"]
    env_file:
      - ./backend/.env
    # depends_on:
    #   - db

  admin:
    build: ./admin
    develop:
      watch:
        - path: ./admin
          action: sync
        - path: package.json
          action: rebuild
    ports: ["5174:5174"]
    env_file:
      - ./admin/.env

#   db:
#     image: mongo:latest
#     ports:
#       - 27017:27017
#     volumes:
#       - mongo-data:/data/db

# volumes:
#   mongo-data: