@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit-Variable";
  src: url("/fonts/Outfit-Variable.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 100 900; /* Range of weights supported */
}

* {
  font-family: "Outfit-Variable";
}

body {
  user-select: none;
}

/* ::-webkit-scrollbar {
  display: none;
} */

a.active hr {
  display: block;
}

@layer utilities {
  .input {
    @apply block w-full border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 outline-none focus:ring-2 focus:ring-gray-900;
  }
}
@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
